In [1]:
#Write a Python  program to create  and display a  one dimensional array-- like object containing  an  array of  data using Pandas  module.
import pandas as pd
print(pd.array([1,2,3,4,5],dtype=int))

<PandasArray>
[1, 2, 3, 4, 5]
Length: 5, dtype: int32

In [5]:
#Write a Python  program to convert a Panda module Series  to Python list and  its type.
import pandas as pd
a = pd.Series([2, 4, 6, 8, 10])
print(a)
print(type(a))
print("Convert Pandas Series to Python list")
print(a.tolist())
print(type(a.tolist()))

0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>
Convert Pandas Series to Python list
[2, 4, 6, 8, 10]
<class 'list'>

In [10]:
#Write a Python  program to add,  subtract,  multiple and  divide two Pandas  Series.
a1 = pd.Series([2, 4, 6, 8, 10])
a2 = pd.Series([1, 3, 5, 7, 9])
print("Addition")
print(a1+a2)
print("Subtraction")
print(a1 - a2)
print("multiplication")
print(a1 * a2)
print("division")
print(a1/a2)

Addition
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtraction
0    1
1    1
2    1
3    1
4    1
dtype: int64
multiplication
0     2
1    12
2    30
3    56
4    90
dtype: int64
division
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [15]:
#Write a Python  program to compare the  elements of  the two Pandas  Series.
a1 = pd.Series([2, 4, 6, 8, 10])
a2 = pd.Series([1, 3, 5, 7, 9])
print(a1==a2)
print(a1>a2)
print(a1<a2)

0    False
1    False
2    False
3    False
4    False
dtype: bool
0    True
1    True
2    True
3    True
4    True
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [ ]:
#Write a Python  program to display the  following  data column wise.

In [19]:
#Write a Python  program to create and display a  Data Frame from a specified  dictionary data  which has  the  index  labels.
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [20]:
#Write a Python  program to select the rows the score is  between 15 and 20(inclusive)
print(df[df['score'].between(15,20)])

        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

In [23]:
#Write a Python  program to select the specified columns  and rows  from a given Data Frame
print(df.iloc[1:6,1:5])

   score  attempts qualify
b    9.0         3      no
c   16.5         2     yes
d    NaN         3      no
e    9.0         2      no
f   20.0         3     yes

In [24]:
#Write a Python  program to select the rows where number of attempts  in the  examination is less  than  2  and score greater than 15
print(df[(df['attempts'] < 2) & (df['score'] > 15)])

    name  score  attempts qualify
j  Jonas   19.0         1     yes

In [30]:
#Write a Python  program to append  a new row 'k' to Data Frame with given values  for each column. Now delete  the ne w row and return the original data frame.
df.loc['k'] = ['Shweta',15.5, 1, 'yes']
print(df)
df= df.drop('k')
print('*****************************************')
print(df)

        name score attempts qualify
a  Anastasia  12.5        1     yes
b       Dima     9        3      no
c  Katherine  16.5        2     yes
d      James   NaN        3      no
e      Emily     9        2      no
f    Michael    20        3     yes
g    Matthew  14.5        1     yes
h      Laura   NaN        1      no
i      Kevin     8        2      no
j      Jonas    19        1     yes
k     Shweta  15.5        1     yes
*****************************************
        name score attempts qualify
a  Anastasia  12.5        1     yes
b       Dima     9        3      no
c  Katherine  16.5        2     yes
d      James   NaN        3      no
e      Emily     9        2      no
f    Michael    20        3     yes
g    Matthew  14.5        1     yes
h      Laura   NaN        1      no
i      Kevin     8        2      no
j      Jonas    19        1     yes

In [36]:
#Write a Python  program to sort the data frame  first by 'name' in descending  order,  then  by  'score' in ascending  order.
print(df.sort_values(by=['name'],ascending=False))
print('*****************************************')
print(df.sort_values(by=['score'],ascending=True))

        name score attempts qualify
f    Michael    20        3     yes
g    Matthew  14.5        1     yes
h      Laura   NaN        1      no
i      Kevin     8        2      no
c  Katherine  16.5        2     yes
j      Jonas    19        1     yes
d      James   NaN        3      no
e      Emily     9        2      no
b       Dima     9        3      no
a  Anastasia  12.5        1     yes
*****************************************
        name score attempts qualify
i      Kevin     8        2      no
b       Dima     9        3      no
e      Emily     9        2      no
a  Anastasia  12.5        1     yes
g    Matthew  14.5        1     yes
c  Katherine  16.5        2     yes
j      Jonas    19        1     yes
f    Michael    20        3     yes
d      James   NaN        3      no
h      Laura   NaN        1      no

In [39]:
#Write a Python  program to insert a new column  in existing  Data Frame.
last_name= ['Kor','Headen','Aniston','Bond','Rose','charlet','Downey','Smith','Pattinson','Henson']
df['Last Name']= last_name
print(df)

        name score attempts qualify  Last Name
a  Anastasia  12.5        1     yes        Kor
b       Dima     9        3      no     Headen
c  Katherine  16.5        2     yes    Aniston
d      James   NaN        3      no       Bond
e      Emily     9        2      no       Rose
f    Michael    20        3     yes    charlet
g    Matthew  14.5        1     yes     Downey
h      Laura   NaN        1      no      Smith
i      Kevin     8        2      no  Pattinson
j      Jonas    19        1     yes     Henson

In [41]:
#Write a Python  program to change  the  name  'James' to 'Suresh' in name  column  of the  data frame
df= df['name'].replace('James','Suresh')
print(df)

a    Anastasia
b         Dima
c    Katherine
d       Suresh
e        Emily
f      Michael
g      Matthew
h        Laura
i        Kevin
j        Jonas
Name: name, dtype: object